{% extends 'base.html' %}

{% block content %}
						<div class="tm-main-content">
                <section class="row tm-margin-b-l">
                    <div class="col-12">
                        <h2 class="tm-blue-text tm-margin-b-p">Add Product</h2>
                    </div>
                    <div class="col-md-6 col-sm-12 mb-md-0 mb-5 tm-overflow-auto">
                        <div class="mr-lg-5">
                            <!-- contact form -->
                            <form action="." method="post" class="tm-contact-form">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="text" id="product_url" name="product_url" class="form-control" placeholder="URL"  required/>
                                </div>
                                <button type="submit" class="tm-btn tm-btn-blue float-right">Submit</button>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
{% endblock %}
